<div class="center hero-unit">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>
1. Sign Up and Join Gift Exchange
2. Ship your gift
3. Receive and Open your gift
  </h1>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>