<div class="center hero-unit">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>
    <div id="full_page_container">

<div id="left">1. Sign Up and Join Gift Exchange</div>
<div id="middle">2. Ship your gift</div>
<div id="right">3. Receive and Open your gift</div>

    </div>
  </h1>

<h3>Subscribe to our mailing list</h3>
<p clas="mailing-list_text">Sign up to receive updates about The Gift Exchange Project</p>

  <%= link_to "ADD ME", '#', class: "btn btn-large btn-primary" %>






  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>