<div class="center hero-unit">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <h1>
    <div id="full_page_container">
      <div id="left">1. Sign Up and Join Gift Exchange</div>
      <div id="middle">2. Ship your gift</div>
      <div id="right">3. Receive and Open your gift</div>
    </div>
  </h1>

  <h3>Subscribe to our mailing list</h3>
  <p>Sign up to receive updates about The Gift Exchange Project</p>

  <div>
	<%= render 'form', subscriber: @subscriber %>
    <p id="notice"><%= notice %></p>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>