<div class="center">

  <h1>
    <div id="full_page_container">
      <div id="left">Send and Recieve Gifts</div>
      <div id="middle">
        <%= link_to "Sign Up", sign_up_path %> / <%= link_to "Sign In", sign_in_path %> <p>using email and password</p>
      </div>
      <div id="right">Subscribe to receive updates</div>
    </div>
  </h1>

  <h3>Subscribe to our mailing list</h3>

  <div>
	<%= render 'form', subscriber: @subscriber %>
    <p id="notice"><%= notice %></p>
  </div>

<br>
<br>

</div>