<div class="center">

  <h1>
    <div id="full_page_container">
      <div id="left">Step 1. Join Gift Exchange</div>
      <div id="middle">Step 2. Get Matched and Send Gift</div>
      <div id="right">Step 3. Recieve and Open your Gift</div>
    </div>
  </h1>

  <h3>Subscribe to our mailing list</h3>
  <p>Sign up to receive updates about The Gift Exchange Project</p>

  <div>
	<%= render 'form', subscriber: @subscriber %>
    <p id="notice"><%= notice %></p>
  </div>

<br>
<br>

</div>