<br>
<br>
<p id="notice"><%= notice %></p>

<p>Thank you for signing up</p>
<p>You will be notified of further developments</p>



<p>
  <strong>Sub email:</strong>
  <%= @subscriber.sub_email %>
</p>

<p>
  <strong>Type of sub:</strong>
  <%= @subscriber.type_of_sub %>
</p>

<p>
  <strong>Subscribed:</strong>
  <%= @subscriber.subscribed %>
</p>

<p>You can click the link in your email if you wish to unsubscribe</p>