<footer class="footer">
  <small>
	A Ruby on Rails Hobby Project 2019
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Terms of Use", terms_of_use_path %></li>
      <li><%= link_to "Github", 'https://github.com/pdebashis/rails-gift-exchanger' %>
    </ul>
  </nav>
</footer>