<footer class="footer">
  <small>
	Created in ruby on rails
  </small>
  <nav>
    <ul>
      <li>About</li>
      <li><%= link_to "Contact Us", contact_path %></li>
      <li><%= link_to "Terms of Use", terms_of_use_path %></li>
    </ul>
  </nav>
</footer>