<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
  	<div class="container">
      <%= link_to "Gift Exchange", root_path, id: "logo"%>
        <div class="user-nav">
            
			<% if current_user %>
  				Signed in as <%= current_user.name %>!
  				<%= link_to "Sign out", signout_path %>
			<% else %>
  				<%= link_to "Sign in with Google", "/auth/google_oauth2", method: :post %>
			<% end %>

        </div>
    </div>
  </div>
</header>