<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
  	<div class="container">
      <%= link_to "Gift Exchange", root_path, id: "logo"%>
        <div class="user-nav">
            <%= link_to "Log in", '#' %> or <%= link_to "Create an Account", '#' %>
        </div>
    </div>
  </div>
</header>